<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.jxnu.admin.dao.StudentMapper">
    <insert id="add" parameterType="Student">
        INSERT INTO t_student (s_id, s_name, s_sex, s_college, s_class) VALUES (#{sId}, #{sName}, #{sSex}, #{sCollege}, #{sClass})
    </insert>

    <delete id="del" parameterType="String">
        DELETE FROM t_student WHERE s_id = #{id}
    </delete>
    
    <update id="update" parameterType="Student">
        UPDATE t_student SET s_name = #{sName}, s_sex = #{sSex}, s_college = #{sCollege}, s_class = #{sClass} where s_id = #{sId}
    </update>

    <select id="findAll" resultType="Student">
        SELECT * FROM t_student
    </select>

    <select id="findByName" parameterType="String" resultType="Student">
        SELECT * FROM t_student WHERE a_name LIKE #{str}
    </select>

    <select id="findById" parameterType="String" resultType="Student">
        SELECT * FROM t_student WHERE s_id = #{id}
    </select>

    <select id="clacCount" resultType="Integer">
        SELECT COUNT(*) AS count FROM t_student
    </select>
</mapper>

